@model IEnumerable<SmoothboardStylers.Models.FAQ>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vraag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antwoord)
            </th>
            <th>
                Opties
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Vraag)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antwoord)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-wrench"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="text-danger bi bi-x-circle-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
